@font-face {
  font-family: "Avenir-Black";
  src: url("src/assets/fonts/Avenir-Black.otf") format("opentype");
}

.buttonForm {
  font-family: "Avenir-Black";
  font-size: 4vw;
  line-height: 18px;
  border-radius: 25px;
  padding: 2%;
  border: 2px solid #127996;
  width: 28%;
  background-color: #127996;
  color: #f3f3f8;
}
.buttonForm1 {
  font-family: "Avenir-Black";
  font-size: 4vw;
  border-radius: 25px;
  padding: 2%;
  border: 2px solid #127996;
  width: 28%;
  color: #127996;
  background-color: white;
}
