/* police pour texte normal */
@font-face {
  font-family: "Avenir-Book";
  src: url("/src/assets/fonts/Avenir-Book.otf") format("opentype");
}

/* message de réponse quand un commentaire a été envoyé */
.create_review_send {
  font-family: "Avenir-Book";
  font-size: 4vw;
  font-weight: bold;
  text-align: center;
  color: #127996;
  padding: 2%;
}

/* affichage de la note dans le formulaire de création de commentaire */
.create_review_note {
  display: flex;
  justify-content: right;
}

/* box contenant le label et l'input pour le commentaire */
.create_review_comment {
  display: flex;
  flex-direction: column;
}

/* label du champ commentaire */
.create_review_comment_label {
  font-size: 4vw;
  font-weight: bold;
  font-family: "Avenir-Book";
  color: #127996;
}

/* input pour le commentaire */
.create_review_input {
  height: 15vh;
  border-radius: 10px;
  border: #127996 solid 2px;
  overflow: visible;
  padding: 1%;
}

/* bouton envoyer */
.create_review_submit_btn {
  font-weight: bold;
  font-family: "Avenir-Book";
  font-size: 4vw;
  border-radius: 25px;
  padding: 2%;
  border: 2px solid white;
  width: 28%;
  background-color: #127996;
  color: #f3f3f8;
}
