* {
  list-style-type: none;
  text-decoration: none;
}

/* police pour texte en gras */
@font-face {
  font-family: "Avenir-Black";
  src: url("src/assets/fonts/Avenir-Black.otf") format("opentype");
}

/* police pour texte normal */
@font-face {
  font-family: "Avenir-Book";
  src: url("/src/assets/fonts/Avenir-Book.otf") format("opentype");
}

.footer {
  background-color: #242b35;
  padding-bottom: 1%;
}

.footer__container {
  background-color: #242b35;
  color: #8de8fe;
  font-family: "Avenir-Book";
  font-size: 3.5vw;
  display: flex;
  justify-content: space-between;
}
.footer__container__left {
  margin-left: 2%;
  margin-top: 2%;
}
.footer__container__middle {
  margin-left: 2%;
  margin-top: 2%;
}
.footer__container__right {
  margin-right: 4%;
  margin-top: 2%;
}

.footer__container__social {
  display: flex;
  justify-content: center;
}

.footer__container__social__instagram {
  width: 5%;
  height: 5%;
  margin-left: 7%;
  padding: 1%;
  padding-top: 1.5%;
}
.footer__container__social__facebook {
  width: 5%;
  height: 5%;
  padding: 1%;
  padding-top: 1.5%;
}
.footer__container__social__twitter {
  width: 5%;
  height: 5%;
  padding: 1%;
  padding-top: 1.5%;
}

.footer_contact {
  color: #8de8fe;
}
