.footer {
    background-color:#242B35;
    padding-bottom: 1%;
}

.footer__container {
    background-color: #242B35;
    color:#8DE8FE;
    font-family: "Avenir-Black";
    font-size: 3.5vw;
    display: flex;
    justify-content: space-between;
}
.footer__container__left {
    margin-Left: 2%;
    margin-top: 2%;
}
.footer__container__middle {
    margin-Left: 2%;
    margin-top: 2%;   
}
.footer__container__right {
    margin-Right: 2%;
    margin-top: 2%;
}
.footer__container__social__instagram{
    width: 5%;
    height: fit-content;
    margin-Left: 7%;
    padding: 1%;
    padding-top: 1.5%;

}
.footer__container__social__facebook{
    width: 5%;
    height: fit-content;
    padding: 1%;
    padding-top: 1.5%;
}
.footer__container__social__twitter{
    width: 5%;
    height: fit-content;
    padding: 1%;
    padding-top: 1.5%;
}