/* police pour texte en gras */
@font-face {
  font-family: "Avenir-Black";
  src: url("src/assets/fonts/Avenir-Black.otf") format("opentype");
}

/* police pour texte normal */
@font-face {
  font-family: "Avenir-Book";
  src: url("/src/assets/fonts/Avenir-Book.otf") format("opentype");
}

/* box principale du header contenant le logo et une autre box (liens et titre) */
.header_main_container {
  display: flex;
  justify-content: space-between;
  background-color: #242b35;
  padding: 3%;
  padding-top: 5%;
  padding-bottom: 5%;
}

/* logo de l'application */
.header_logo {
  width: 25%;
  height: 25%;
}

.header_logo_img {
  width: 100%;
  height: 100%;
}

/* box contenant une autre box (liens) et le titre du site */
.header_links_title_container {
  display: flex;
  flex-direction: column;
  width: 75%;
}

/* box contenant les liens */
.header_links_container {
  display: flex;
  justify-content: flex-end;
  padding-bottom: 3%;
  padding-right: 4%;
}

/* titre de l'application */
.header_title {
  padding-left: 3%;
  font-size: 5vw;
  font-family: "Avenir-Book";
  color: white;
  text-align: left;
}

/* liens dans le header */
.header_links {
  background-color: #242b35;
  border: none;
  font-size: 3.5vw;
  font-family: "Avenir-Book";
  color: #8de8fe;
  padding: 2%;
}

@media screen and (min-width: 768px) {
  .header_main_container {
    padding: 0%;
    padding-bottom: 1%;
  }
  .header_title {
    font-size: 2rem;
    text-align: center;
  }
  .header_logo_img {
    width: 170px;
  }
  .header_links {
    font-size: 1.3rem;
  }
}
