@font-face {
  font-family: "Avenir-Black";
  src: url("src/assets/fonts/Avenir-Black.otf") format("opentype");
}

.btn {
  padding: 0.2rem;
  font-size: 0.6rem;
}

.imageManager {
  text-align: center;
}
.imageManager button {
  margin: 1rem;
}
