* {
  margin: 0;
}

/* police pour texte en gras */
@font-face {
  font-family: "Avenir-Black";
  src: url("src/assets/fonts/Avenir-Black.otf") format("opentype");
}

/* police pour texte normal */
@font-face {
  font-family: "Avenir-Book";
  src: url("/src/assets/fonts/Avenir-Book.otf") format("opentype");
}

/* div contenant tout le formulaire de recherche */
.train_search_form {
  padding-top: 10%;
  background-color: #f3f3f8;
}

/* champs de recherche région et type */
.area_select,
.type_select {
  width: 80vw;
  height: fit-content;
  font-family: "Avenir-Book";
  color: black;
  font-size: 4vw;
  border-radius: 10px;
  padding: 2%;
  margin-bottom: 5%;
  background-color: white;
  -webkit-appearance: none;
  -moz-appearance: none;
  border: 2px solid #127996;
}

/* label des champs de recherche région et type */
.train_search_label {
  text-align: left;
  font-weight: bold;
  font-family: "Avenir-Book";
  font-size: 4vw;
  margin-left: 10%;
}

.train_search {
  display: flex;
  flex-direction: column;
}

@media screen and (min-width: 768px) {
  .train_search {
    flex-direction: row;
    justify-content: space-around;
  }

  .train_search_label {
    font-size: 3vw;
  }

  .area_select,
  .type_select {
    width: 35vw;
    font-size: 3vw;
  }

  .train_search_label {
    margin-left: 0;
  }

  .traincard_box {
    display: flex;
    margin-left: 5%;
  }
}
