/* police pour texte en gras */
@font-face {
  font-family: "Avenir-Black";
  src: url("src/assets/fonts/Avenir-Black.otf") format("opentype");
}

/* police pour texte normal */
@font-face {
  font-family: "Avenir-Book";
  src: url("/src/assets/fonts/Avenir-Book.otf") format("opentype");
}

.train_main_div {
  background-color: #f3f3f8;
}

/* box contenant le titre et l'icone favoris */
.train_title_favoris_box {
  display: flex;
  justify-content: center;
  font-family: "Avenir-Book";
}

/* titre du train */
.train_title {
  font-weight: bold;
  font-size: 6vw;
}

/* div contenant les images du train */
.train_image_div {
  padding: 4%;
}

/* sous-titre informations et activitées */
.train_h3_title {
  font-weight: bold;
  font-family: "Avenir-Book";
  font-size: 5vw;
  color: #127996;
  padding: 4%;
}

/* paragraphes sur la page train */
.train_paragraphe {
  font-family: "Avenir-Book";
  font-size: 4vw;
  padding: 4%;
}

/* titre de la partie commentaires */
.train_review_title {
  text-align: center;
  font-family: "Avenir-Book";
  font-weight: bold;
  font-size: 4vw;
}

/* box contenant les commentaires*/
.train_review_box {
  padding: 4%;
}

/* box contenant les icones favoris */
.train_favoris_box {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  padding-left: 4%;
  padding-right: 4%;
}

.train_favoris_image {
  width: 5%;
}

.invisible {
  display: none;
}

@media screen and (min-width: 768px) {
  .train_image_div {
    display: flex;
    flex-direction: row;
  }

  .train_h3_title {
    font-size: 2vw;
  }

  .informations_paragraphe,
  .activity_paragraphe {
    font-size: 2vw;
    padding: 1%;
    padding-left: 4%;
    padding-right: 4%;
  }

  .activity_title {
    font-size: 2vw;
    padding-left: 3%;
  }

  .train_title {
    font-size: 5vw;
  }

  .review_train_list_username {
    font-size: 2vw;
  }

  .review_train_list_comment {
    font-family: "Avenir-Book";
    font-size: 2vw;
  }

  .create_review_send {
    font-size: 2vw;
  }

  .create_review_comment_label {
    font-size: 2vw;
  }

  .create_review_submit_btn {
    font-weight: bold;
    font-family: "Avenir-Book";
    font-size: 2vw;
    border-radius: 25px;
    padding: 2%;
    border: 2px solid white;
    width: 18%;
    background-color: #127996;
    color: #f3f3f8;
  }
}
