/* police pour texte en gras */
@font-face {
  font-family: "Avenir-Black";
  src: url("src/assets/fonts/Avenir-Black.otf") format("opentype");
}

/* police pour texte normal */
@font-face {
  font-family: "Avenir-Book";
  src: url("/src/assets/fonts/Avenir-Book.otf") format("opentype");
}

/* paragraphes sur le composant TrainInformations */
.informations_paragraphe {
  font-family: "Avenir-Book";
  font-size: 4vw;
  padding: 2%;
}
